.shelf {
	display: none;
}

div {
	overflow: auto;
}

p {
	margin: 0;
}

img {
	width: auto;
	display: block;
}

.display-inline * {
	display: inline-block;
}

.margin-onepx * {
	margin: 1px;
}

.display-stacked * {
	position: absolute;
	top: 1%;
}

.display-stacked {
	position: relative;
}

.display-block * {
	display: block;
}

.bordered {
	border: 1px solid black;
	margin: -1px;
}