.shelf {
	display: none;
}

div {
	overflow: auto;
}

p {
	margin: 0;
}

img {
	height: 100%;
	width: auto;
	display: block;
	margin: 0;
}

.has-nesting {
	z-index: 1;
	position: relative;
	overflow: visible;
}

.nesting-holder {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: visible;
}

.display-inline div {
	display: inline-block;
}

.margin-onepx>div {
	margin: 1px;
}

.display-stacked div {
	position: absolute;
	top: 1%;
}

.display-stacked {
	position: relative;
}

.display-block div {
	display: block;
}

.bordered {
	border: 1px solid black;
	margin: -1px;
}

.rotate180 {
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.drophover::after {
	position:absolute;
	z-index:3;
	background-color: black;
	opacity: 0.2;
	left:0;
	top:0;
	height:100%;
	width:100%;
	content: ' ';	
}